input {
    padding-top:1vh;
    white-space:nowrap;
}

label::after {
    content: "\a";
    white-space: pre;
}


h1 {
    color: skyblue;
}

.submit {
    padding-top: 3vh;
}

.submit > input {
    text-align: center;
    vertical-align: middle;
    padding: auto;
    width: 200px;
    height: 50px;
}